@{
    Layout = null;
}


<a href="" data-toggle="modal" data-target="#infoModal">Document <i class="glyphicon glyphicon-file"></i></a>


<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalTitle">Documentation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Documentation</h1>
                <p>
                    <h2>introduction</h2>
                    -This project was developed by <b>Thiago Pelissari</b>
                    <br />
                    -The technologies utilized was Asp.Net MVC with jQuery and Ajax, built on a responsive way.
                    <br />
                    -You can calculate how many resupply do you need to travel based on the distance
                    that you give in MGLT.
                    <br />
                    -All the page was built in a simple way just for focus on functionality.
                    <br />
                    -Besides calculating the resupply, you can find information of all the starships of
                    star wars world.
                </p>

                <p>
                    <h2>Instructions</h2>
                    -Use the text field to input the distance in Mglt measure that you want to travel.
                    <br />
                    -After input the correct value click in "calculate" button, for the system
                    looking for all the existent ships and return the informations for you.
                </p>

                <p>
                    <h2>
                        Doubts
                    </h2>
                    <address>
                        -The project is in my GitHub Account:
                        <a target="_blank" href="https://github.com/thiagoPelissari/StarWarsShip.git">https://github.com/thiagoPelissari/StarWarsShip.git</a>
                        <br />
                        <br />
                        -I put the test on my WebSite <a target="_blank" href="http://thiagopelissari.com/starwars/">www.thiagopelissari.com/starwars</a>
                        <br />
                        <br />
                        -In case of any doubts you can text me. My mail address is <a>thiagopelissa@gmail.com</a>
                        <br />
                        <br />
                        -Phone number <a>+55 (14) 98132-5580</a>
                        
                    </address>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>