@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Thiago Pelissari<br />
    <abbr title="Mobile Phone">Phone:</abbr>
    +55 (14) 98132-5580
</address>

<address>
    <strong>Mail:</strong>   <a>thiagopelissa@gmail.com</a><br />
    <strong>My Site:</strong>   <a target="_blank" href="http://thiagopelissari.com/">thiagopelissari.com/</a><br />
</address>